# Java / Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
build/

# IDEs
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.factorypath
.springBeans

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Environment variables
.env

# Logs
*.log
